@import "tailwindcss";
:root {
  --color-claro: #F4E0CF;
  --color-medio: #C39479;
  --color-oscuro: #B1AF9D;

  --blanco: #ffffff;
  --negro: #000000;
}

html {
  scroll-behavior: smooth;
}

.whatsapp-float::after {
  content: "Escríbenos";
  position: absolute;
  right: 65px;
  background: #25d366;
  color: #fff;
  padding: 6px 10px;
  border-radius: 6px;
  opacity: 0;
  white-space: nowrap;
  transition: opacity 0.3s;
  font-size: 14px;
}

.whatsapp-float:hover::after {
  opacity: 1;
}